.main_box{
    width: 100vw;
    height: 100vh;
    background-color: #fff7f9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.heading{
    width: 100px;
}
.log_box{
    width: 350px;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    justify-content: space-evenly;
    opacity: 0.9;
    background-color: white;
}
.Heading{
    margin: 0px;
}